doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Результаты поиска
    meta(content="", name="description")
    meta(content="", name="keywords")
    link(href='style.css', rel="stylesheet")

  body    
    main.main
      h1 Результаты поиска 10
      .box загрузка
    script(src='bundle.js')
