doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Результаты поиска
    meta(content="", name="description")
    meta(content="", name="keywords")
    link(href='style.css', rel="stylesheet")
    script(src='bundle.js')
  body    
    main.main
      h1 Результаты поиска
      div(ng-app="searchApp" ng-controller="searchAppCtrl")        
        div
          label(for="searchType") Тип поиска: 
          select(name="searchType", ng-model="searchType", ng-change="updateType()")
            option(ng-repeat="type in this.searchTypes", value="{{type.id}}", selected="{{type.id === this.searchType ? true : false}}")  {{type.title}}
        {{load}}
        div(ng-if="items.length")
          table
            tr
              th Тип поиска
              th Запрос
              th Дата
              th Найдено
            tr(ng-repeat="item in items")
              td {{getTypeTitle(item.search_type)}}
              td {{item.search_string}}
              td {{item.search_start}}
              td {{item.found}}
