doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title Результаты поиска
    meta(content="", name="description")
    meta(content="", name="keywords")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href='style.css', rel="stylesheet")
    script(src='bundle.js')
  body
    main.main
      h2 Результаты поиска
      div(ng-app="searchApp" ng-controller="searchAppCtrl")        
        div(class="form-group")
          label(for="searchType") Тип поиска: 
          select(name="searchType", ng-model="searchType", ng-change="getItems()", class="form-control")
            option(ng-repeat="type in this.searchTypes", value="{{type.id}}", selected="{{type.id === this.searchType ? true : false}}")  {{type.title}}
        div(ng-bind-html="message")
        table(ng-if="items.length", class="table")
          tr
            th Тип поиска
            th Запрос
            th Дата
            th Найдено
          tr(ng-repeat="item in items")
            td {{getTypeTitle(item.search_type)}}
            td {{item.search_string}}
            td {{formatDate(item.search_start)}}
            td {{item.found}}
        button(ng-if="httpError", ng-click="getItems()", class="btn btn-primary") Повторить
